.container-custom {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    width: 1140px;
    @media (max-width: 600px) {
        max-width: 100%;
    }
}
.row-custom {
    width: 100%;
    display: flex;
}
.custom-header {
    -webkit-box-shadow: 0px 1px 5px 3px rgba(218, 218, 218, 0.4);
    box-shadow: 0px 1px 5px 3px rgba(218, 218, 218, 0.4);

    nav {
        height: 60px;
        width: 1140px;
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        @media (max-width: 600px) {
            max-width: 100%;
        }
        .options {
            display: flex;
            .anuncio-nav {
                button {
                    background: none;
                    background-color: rgba(139, 0, 0, 0.7);
                    height: 100%;
                    width: 150px;
                    border: none;
                    border-radius: 5px;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                    @media (max-width: 600px) {
                        width: 80px;
                        span {
                            display: none;
                        }
                    }

                    &:hover {
                        background-color: rgba(139, 0, 0, 1);
                    }
                }
            }
            .menu-nav {
                display: flex;
                flex-direction: column;
                margin-left: 30px;
                align-items: flex-end;
                min-width: 150px;
                @media (max-width: 600px) {
                    min-width: 30px;
                }
                button {
                    background: none;
                    // background-color: rgba(139, 0, 0, 0.7);
                    min-height: 100%;
                    // width: 150px;
                    border: none;
                    border-radius: 5px;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                    svg {
                        fill: rgba(139, 0, 0, 0.7) !important;
                        height: 100% !important;
                        // width: 40px !important;
                    }
                    &:hover {
                        // background-color: rgba(139, 0, 0, 1);
                    }
                }
                .dropdown {
                    flex-direction: column;
                    display: flex;
                    width: 100%;
                    border: 1px solid #f1f1f1f1;
                    padding: 3px;
                    background: white;
                    ul {
                        list-style: none;
                        padding: 0;
                        display: flex;
                        flex-direction: column;
                        margin: 0;
                        li {
                            text-align: left;

                            padding: 6px 3px;
                            a {
                                text-decoration: none;
                                color: black;
                                &:hover {
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.carousel-item__card {
    width: 25%;
}
.list-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
@media (max-width: 600px) {
    .card-item {
        width: 49%;
        height: 360px;
    }
}
.card-item {
    height: 430px;
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border: 1px solid rgba(146, 122, 94, 0.15);
    overflow: hidden;
    margin: 7px 0;
    text-decoration: none !important;
    color: black;
    position: relative;

    &:hover {
        color: black;
    }
    @media (max-width: 600px) {
        width: 49%;
        height: 360px;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        height: 40px;
        align-items: center;
        padding: 5px 8px;
        background-color: white;
        &--name {
            p {
                margin: 0;
                color: rgb(35, 35, 35);
                font-weight: bold;
                span {
                    color: red;
                    font-weight: bold;
                }
            }
        }
        &--place {
            color: black;
            p {
                margin: 0;
                font-weight: bold;
                svg {
                    margin-left: 2px;
                    margin-right: 2px;
                }
            }
            .check {
                fill: green !important;
            }
            .place {
                fill: red !important;
            }
        }
    }
    &__background {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        height: calc(100% - 40px);
        width: 100%;
        .video {
            left: 10px;
            top: 5px;
            position: absolute;
            background-color: #1fc665;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                width: 24px;
            }
        }
        .new {
            height: 100px;
            overflow: hidden;
            pointer-events: none;
            position: absolute;
            right: -10px;
            text-align: right;
            top: 0px;
            right: 0;
            width: 100px;
            z-index: 1;
            span {
                background: #bf4141;
                font-size: 14px;
                box-shadow: 0 0 3px rgb(0 0 0 / 30%);
                color: #ffffff;
                display: block;
                font-size: 12px;
                font-weight: bold;
                line-height: 30px;
                font-family: "Oswald", sans-serif;
                position: absolute;
                right: -51px;
                text-align: center;
                text-transform: uppercase;
                top: 19px;
                transform: rotate(45deg);
                width: 180px;
            }
        }
        .vip {
            border: 0 none;

            z-index: 9;
            width: 0;
            height: 0;
            border-right: 36px solid transparent;
            border-top: 36px solid transparent;
            //  cc9933
            border-left: 36px solid #bf4141;
            border-bottom: 36px solid #bf4141;
            bottom: 90px;
            position: absolute;
            left: 0;
            span {
                position: absolute;
                left: 0;
                text-align: center;
                line-height: 36px;
                letter-spacing: 2px;
                color: #ffffff;
                font-family: "Oswald", sans-serif;
                font-weight: bold;
                left: -30px;
                transform: rotate(45deg);
                top: -5px;
                font-size: 16px;
            }
        }
        .carousel {
            height: 100%;
            width: 100%;
            .carousel-inner {
                height: 100%;
                width: 100%;
                .carousel-item {
                    height: 100%;
                    width: 100%;
                    .row-custom {
                        height: 100%;
                        width: 100%;
                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                    .img-agua {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 50px;
                        position: absolute;
                        align-items: center;
                        justify-self: center;
                        top: 0;
                        left: 0;
                        img {
                            width: 90px;
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
    }
    &__body {
        background: rgba(255, 255, 255, 0.5);
        .body-profile {
            display: flex;
            flex-direction: column;
            .profile-info {
                display: flex;
                width: 100%;
                justify-content: space-between;
                padding: 10px;
                &__name {
                    display: flex;
                    align-items: center;
                    &--img {
                        min-width: 30px;
                        height: 30px;
                        overflow: hidden;
                        border-radius: 50%;
                        background-color: green;
                        margin-right: 8px;
                        img {
                            background-color: red;
                            display: flex;
                            width: 30px;
                            height: 30px;
                        }
                    }
                    p {
                        margin: 0;
                        font-size: 18px;
                        font-weight: bold;
                    }
                }
                &__time {
                    span {
                        background-color: rgb(177, 177, 177);
                        border-radius: 3px;
                        color: white;
                        padding: 4px 9px;
                        display: block;
                    }
                }
            }
            .profile-contact {
                width: 100%;
                padding: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-top: 1px solid black;
                p {
                    font-size: 18px;
                    margin: 0;
                    display: flex;
                    align-items: center;
                    font-weight: bold;
                    .phone {
                        fill: rgb(171, 17, 17) !important;
                    }
                    .whats {
                        fill: green !important;
                    }
                }
            }
        }
    }
}
.modal-custom {
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal-c {
        width: 750px;
        max-width: 100%;
        @media (max-width: 600px) {
            width: 100%;
        }
    }
}

.indicators-testimonio li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity 0.6s ease;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #800000;
    margin: 0px;
    background: #800000;
    border-radius: 100%;
    width: 15px;
    height: 15px;
    border: 2px solid #fff;
}
.content-testimonio {
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    padding: 10px 0px;
    width: 100%;
    margin-top: 50px;
    padding-right: 15px;
    padding-left: 15px;
    h1 {
        font-size: 30px;
    }
    .carousel-inner {
        img {
            background: none;
            width: 100%;
            height: 300px;
            opacity: 0.7;
        }
        .carousel-caption {
            position: absolute;
            right: 15%;
            bottom: 20px;
            left: 15%;
            z-index: 10;
            padding-top: 20px;
            padding-bottom: 20px;
            color: #fff;
            text-align: center;
            h1 {
                color: #800000;
                padding: 10px 2px;
                font-size: 25px;
                margin: 0px;
            }
            p {
                color: #800000;
                padding: 10px 2px;
                font-size: 20px;
                margin: 0px;
            }
        }
    }
}
